<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://124.221.118.223:3306/aierx?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="02580258@lL"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="PropertiesMapper.xml"/>
    </mappers>
</configuration>