<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="icu.aierx.springframework.service.impl.HelloWordService">
        <property name="username" value="leiwenyong"/>
        <property name="password" value="leiwenyong"/>
    </bean>

</beans>